@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 193, 195);
    background-image: linear-gradient(315deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 74%);
}

.logo {
    width: 170px;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.date-picker {
    font-size: 1.2rem;
    padding: 10px 20px;
}

.input-container,
.result-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.input-container {
    height: 100vh;
}

.result-container {
    display: none;
}

.magazine-cover {
    width: 80%;
    height: auto;
    border: 3px solid white;
}

.info-title {
    margin-top: 0;
    font-size: 1rem;
    color: white;
    text-align: left;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
}

.info {
    font-size: 1rem;
    color: white;
    text-align: left;
    line-height: 1.5;
    font-family: 'Noticia Text', serif;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .input-container,
    .result-container {
        flex: 1;
        max-width: 500px;
        text-align: left;
    }

    .input-container {
        margin-right: 20px;
    }

    .magazine-cover {
        width: 300px;
    }

    .info {
        width: 400px;
    }
}